.main-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    
    height: 100vh;
}

.button {
    padding: 6px 10px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
    border: none;
}