.heading {
    font-family: 'Arial', sans-serif;
    color: #333;    
    font-size: 30px;
}

.button2 {
    padding: 6px 10px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(12, 12, 227);
    border: none;
    color: #ffffff;
}